{% extends 'student/eventsubmissionsidebar.html' %}
{% block title %}Event Submission Template {% endblock %}

{% block content %}

<div class="container2">
    <div class="row my-5 text-center justify-content-center">
        <h1 class="display-2 fw-bold">Events Form</h1>
        <div class=" text-center justify-content-center">
        </div>
    </div>
</div>

    <div class="main">

        <div class="container">
            <form method="POST" id="signup-form" class="signup-form" action="/events">
                <div>

                    
                    <h3></h3>
                    <fieldset>
                        <input type="text" name="title" id="title" />
                        <label for="title" class="form-label">Event Title</label>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input type="text" name="event_organiser" id="event_organiser" />
                        <label type="text" for="event_organiser" class="form-label">Event Organiser's Name</label>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input type="email" name="organizer_email" id="organizer_email" />
                        <label type="text" for="organizer_email" class="form-label">Organizer Email</label>
                    </fieldset>




                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="description">Event Description:</label>
                        <textarea id="description" name="description" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>




                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="event_date" >Date Filled</label>
                        <input type="date" name="event_date" id="event_date" />
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="start_time" >Start Time</label>
                        <input type="datetime-local" name="start_time" id="start_time" />
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="end_time" >End Time</label>
                        <input type="datetime-local" name="end_time" id="end_time" />
                    </fieldset>




                    <h3></h3>
                    <fieldset>
                        <input type="text" name="supervisors" id="supervisors" />
                        <label for="supervisors" class="form-label">Supervisors</label>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input type="text" name="team_members" id="team_members" ></input>
                        <label  for="team_members" class="form-label">Team Members</label>
                    </fieldset>




                    <h3></h3>
                    <fieldset>
                        <input type="text" name="participants" id="participants" />
                        <label for="participants" class="form-label">Participants</label>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input type="number" name="estspectators" id="estspectators" />
                        <label for="estspectators" class="form-label"> Number of Participants</label>
                    </fieldset>




                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="location">Location</label>
                        <textarea type="text" name="location" id="location" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="facilities">Facilities</label>
                        <textarea type="text" name="facilities" id="facilities" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="resources_needed">Resources Needed</label>
                        <textarea type="text" name="resources_needed" id="resources_needed" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="it_resources">IT Resources</label>
                        <textarea type="text" name="it_resources" id="it_resources" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>




                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="finance_department">Finance Department</label>
                        <textarea name="finance_department" id="finance_department" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="communication_department">Communication Department</label>
                        <textarea name="communication_department" id="communication_department" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>




                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="security_staff">Security Staff</label>
                        <textarea name="security_staff" id="security_staff" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="first_aid_required">First Aid Required</label>
                        <textarea name="first_aid_required" id="first_aid_required" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="nurse_notes">Nurse Notes</label>
                        <textarea name="nurse_notes" id="nurse_notes" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <label class="mt-3" for="caretakers">Caretakers</label>
                        <textarea name="caretakers" id="caretakers" style="display: block; width: 100%; border: none; border-bottom: 3px solid #ebebeb; box-sizing: border-box; font-family: 'Montserrat'; font-weight: bold; font-size: 22px; transition: 0.3s ease; padding-top: 30px; padding-bottom: 3px;"></textarea>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input href="/admin/formsub" type="submit" name="re_password" id="re_password" class=" mt-3 btn btn-primary" value="submit" />
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
