<!doctype html>
<html lang="en">
  <head>
    <link href="{{url_for('static', filename ='/css/bootstrap.min.css')}}" 
    rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename ='/Wizard/fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename ='/Wizard/css/style.css')}}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
    <link rel="stylesheet" href="{{url_for('static', filename ='/Wizard/css/style.css')}}"/>

  </head>
  
  <body>
    <div class="row flex-row-reverse">
      <div class="col-2">
      <div class="sticky-top d-flex flex-column flex-shrink-0 bg-body-tertiary justify-content-center  " style=" height: 100vh;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">

          <li class="nav-item">
            <a href="/student/homepage" type="button" class="nav-link py-5 border-top rounded-0 border-bottom rounded-0 btn  leave_alert1" >
              <i class="display-1 fa-solid text-black text-center fa-house"></i>
            </a>
             

            </li>
            <li>
            <a href="/student/eventform" type="button" class="nav-link py-5 border-top rounded-0 border-bottom rounded-0 btn  leave_alert1">
              <i class="display-1 fa-solid text-black text-center fa-file-lines"></i>
            </a>

            
          </li>
        </ul>
    
        <div>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li>
                  <a href="/student/login" type="button" class="btn leave_alert1" >
                    <i class="display-2 fa-solid text-black fa-arrow-right-from-bracket"></i>
                  </a>
                
                 
                  </li>
                  <div class="border-top" >
                    <a href="/student/homepage" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none leave_alert1">
                      <p class="display-5">Student</p>
                    </a>
                   
            </ul>
        </div>
      </div>
      </div>
      <div class="col-9 ">
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>


     
  <div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="leaveModalLabel">Confirm Navigation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       
        </div>
        <div class="modal-body">
          Are you sure you want to leave this page?
        </div>
        <div class="modal-footer">
          <button id="stayBtn1" class="btn btn-secondary" >Stay</button>
          <button id="leaveBtn1" class="btn btn-danger">Leave</button>
        
        </div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename ='/Wizard/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename ='/Wizard/vendor/jquery-validation/dist/jquery.validate.min.js')}}"></script>
  <script src="{{url_for('static', filename ='/Wizard/vendor/jquery-validation/dist/additional-methods.min.js')}}"></script>
  <script src="{{url_for('static', filename ='/Wizard/vendor/jquery-steps/jquery.steps.min.js')}}"></script>
  <script src="{{url_for('static', filename ='/Wizard/js/main.js')}}"></script>


  <script src="https://kit.fontawesome.com/1de27f3594.js" crossorigin="anonymous"></script>
  
  <script>
    $(document).ready(function() {
      let pendingUrl = null;

      // Capture clicks on leave_alert links
      $(document).on('click', '.leave_alert1', function(event) {
        console.log($(this).attr('href'))
        event.preventDefault(); // Stop immediate navigation
        pendingUrl = $(this).attr('href'); // Store the target URL
        $('#leaveModal').modal('show'); // Show the modal
      });

      // Handle Leave button click - Navigate to URL
      $(document).on('click', '#leaveBtn1', function() {
        console.log("hello leave")
        if (pendingUrl) {
          window.location.href = pendingUrl; // Navigate to the stored URL
        }
      });
     

      // Handle Stay button click - Refresh page
      $(document).on('click', '#stayBtn1', function() {
        window.location.reload(); // Refresh the current page
      });
    });
  </script>

   

   

  </body>
</html>