{% extends 'AdminSidebar.html' %}
{% block title %}Admin Login Page {% endblock %}

{% block content %}



<div class="container mt-4">
    <div class="d-flex justify-content-between mb-5">
        <h1 class="card-title mt-4 ">{{ submitted_form.EventTitle }}</h1>
        <a class="col-3 align-middle btn btn-warning mt-4 mb-3 btn-lg px-3" href="{{ url_for('admin_routes.existingform') }}">Request a Meeting</a>
        <a class="col-2 align-middle btn btn-danger mt-4 mb-3 btn-lg px-3" href="{{ url_for('admin_routes.existingform') }}">Reject</a>
        <a class="col-2 align-middle btn btn-success mt-4 mb-3 btn-lg px-3" href="{{ url_for('admin_routes.editform', EventID=submitted_form.EventID) }}">
            Approve
        </a>
    </div>
    <div class="card shadow-lg">
        <div class="card-body">
            <div>
            </div>
            <div class="row d-flex align-items-stretch">
            <div class="row">
                
                <div class="container">
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Event Title</div>
                        <div class="col-6">{{ submitted_form.EventTitle }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Event Organiser</div>
                        <div class="col-6">{{ submitted_form.EventOrg }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Event Organiser's Email</div>
                        <div class="col-6">{{ submitted_form.EmailAddress }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Description</div>
                        <div class="col-6">{{ submitted_form.Description }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Date Filled</div>
                        <div class="col-6">{{ submitted_form.DateFilled }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Event Start Date and Time</div>
                        <div class="col-6">{{ submitted_form.EventStart }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Event End Date and Time</div>
                        <div class="col-6">{{ submitted_form.EventEnd }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Event Supervisors</div>
                        <div class="col-6">{{ submitted_form.EventSupervisor }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Team Members</div>
                        <div class="col-6">{{ submitted_form.TeamMembers }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Participants</div>
                        <div class="col-6">{{ submitted_form.Spectators }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Estimated Number of Participants</div>
                        <div class="col-6">{{ submitted_form.EstSpectators }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Location</div>
                        <div class="col-6">{{ submitted_form.Location }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Facilities Needed</div>
                        <div class="col-6">{{ submitted_form.Facilities }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Resources Needed</div>
                        <div class="col-6">{{ submitted_form.Resources }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">IT Resources</div>
                        <div class="col-6">{{ submitted_form.ITResources }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Finance Department</div>
                        <div class="col-6">{{ submitted_form.Finance }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Communications Department</div>
                        <div class="col-6">{{ submitted_form.Communications }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Security Staff on Duty</div>
                        <div class="col-6">{{ submitted_form.SecurityStaff }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">First Aid</div>
                        <div class="col-6">{{ submitted_form.FirstAid }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Nurse's Notes</div>
                        <div class="col-6">{{ submitted_form.NurseNote }}</div>
                    </div>
    
                    <div class="row py-2 border-bottom">
                        <div class="fw-bold col-6">Caretakers</div>
                        <div class="col-6">{{ submitted_form.Caretakers }}</div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
