{% extends 'AdminSidebar.html' %}
{% block title %}Admin Login Page {% endblock %}

{% block content %}

<form class="row" method="POST">

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-5">
        <h1 class="card-title mt-4 ">{{ submitted_form.EventTitle }}</h1>
        <a class="btn btn-danger mt-4 mb-3 btn-lg px-5" data-bs-toggle="modal" data-bs-target="#existingforms">Discard Changes</a>
            <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" id="existingforms">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5">Warning</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                    <p>You want to leave the page, any unsaved progress will be lost</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return to Form</button>
                    <a href="{{ url_for('admin_routes.existingform') }}" class="btn btn-danger">
                    Leave Page
                    </a>
                    </div>
                </div>
                </div>
            </div>
        <button class="btn btn-success mt-4 mb-3 btn-lg px-5" type="submit">Update Events Form</button>
    </div>
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="row d-flex align-items-stretch">
                <div class="container">
    
                    <div class="container">
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Event Title</div>
                            <div class="col-6">
                                <input name="title" class="form-control" value="{{ submitted_form.EventTitle }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Event Organiser</div>
                            <div class="col-6">
                                <input name="event_organiser" class="form-control" value="{{ submitted_form.EventOrg }}">
                            </div>
                        </div>
                    
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Event Organiser's Email</div>
                            <div class="col-6">
                                <input type="email" name="organizer_email" class="form-control" value="{{ submitted_form.EmailAddress }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Description</div>
                            <div class="col-6">
                                <input name="description" class="form-control" value="{{ submitted_form.Description }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Date Filled</div>
                            <div class="col-6">
                                <input type="date" name="event_date" class="form-control" value="{{ submitted_form.DateFilled }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Event Start Date and Time</div>
                            <div class="col-6">
                                <input type="datetime-local" name="start_time" class="form-control" value="{{ submitted_form.EventStart }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Event End Date and Time</div>
                            <div class="col-6">
                                <input type="datetime-local" name="end_time" class="form-control" value="{{ submitted_form.EventEnd }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Event Supervisors</div>
                            <div class="col-6">
                                <input name="supervisors" class="form-control" value="{{ submitted_form.EventSupervisor }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Team Members</div>
                            <div class="col-6">
                                <input name="team_members" class="form-control" value="{{ submitted_form.TeamMembers }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Participants</div>
                            <div class="col-6">
                                <input name="participants" class="form-control" value="{{ submitted_form.Spectators }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Estimated Number of Participants</div>
                            <div class="col-6">
                                <input type="number" name="estspectators" class="form-control" value="{{ submitted_form.EstSpectators }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Location</div>
                            <div class="col-6">
                                <input name="location" class="form-control" value="{{ submitted_form.Location }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Facilities Needed</div>
                            <div class="col-6">
                                <input name="facilities" class="form-control" value="{{ submitted_form.Facilities }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Resources Needed</div>
                            <div class="col-6">
                                <input name="resources_needed" class="form-control" value="{{ submitted_form.Resources }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">IT Resources</div>
                            <div class="col-6">
                                <input name="it_resources" class="form-control" value="{{ submitted_form.ITResources }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Finance Department</div>
                            <div class="col-6">
                                <input name="finance_department" class="form-control" value="{{ submitted_form.Finance }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Communications Department</div>
                            <div class="col-6">
                                <input name="communication_department" class="form-control" value="{{ submitted_form.Communications }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Security Staff on Duty</div>
                            <div class="col-6">
                                <input name="security_staff" class="form-control" value="{{ submitted_form.SecurityStaff }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">First Aid</div>
                            <div class="col-6">
                                <input name="first_aid_required" class="form-control" value="{{ submitted_form.FirstAid }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Nurse's Notes</div>
                            <div class="col-6">
                                <input name="nurse_notes" class="form-control" value="{{ submitted_form.NurseNote }}">
                            </div>
                        </div>
                        
                        <div class="row py-2 border-bottom">
                            <div class="fw-bold col-6">Caretakers</div>
                            <div class="col-6">
                                <input name="caretakers" class="form-control" value="{{ submitted_form.Caretakers }}">
                            </div>
                        </div>
                <div class="d-flex justify-content-center mt-5">
                </div>
            </div>
        </div>
    </div>
</div>
</form>


{% endblock %}
