{% extends 'admin/eventsubmissionsidebar.html' %}
{% block title %}Event Submission Template {% endblock %}

{% block content %}

<div class="container2">
    <div class="row my-5 text-center justify-content-center">
        <h1 class="display-2 fw-bold">Events Form</h1>
        <div class=" text-center justify-content-center">
        </div>
    </div>
</div>

    <div class="main">

        <div class="container">
            <form method="POST" id="signup-form" class="signup-form" action="#">
                <div>
                    <h3></h3>
                    <fieldset>
                        <input type="text" name="first_name" id="first_name" />
                        <label for="first_name" class="form-label">01 . What is your first name ?</label>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input type="text" name="last_name" id="last_name" />
                        <label for="last_name" class="form-label">02 . What is your last name ?</label>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input type="email" name="email" id="email" />
                        <label for="email" class="form-label">03 . What is your Email ?</label>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input type="text" name="password" id="password" />
                        <label for="password" class="form-label">04 . Create your password</label>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </fieldset>

                    <h3></h3>
                    <fieldset>
                        <input href="/admin/formsub" type="submit" name="re_password" id="re_password" class="btn btn-primary" value="submit" />
                        
                        <span toggle="#re_password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
