<!doctype html>
<html lang="en">
  <head>
    <link href="{{url_for('static', filename ='/css/bootstrap.min.css')}}" 
    rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename ='/Wizard/fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename ='/Wizard/css/style.css')}}">

    <link rel="stylesheet" href="css/style.css"/>

  </head>
  
  <body>
    <div class="row">
      <div class="col-2">
      <div class="sticky-top d-flex flex-column flex-shrink-0 bg-body-tertiary justify-content-center" style=" height: 100vh;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">

          <li class="nav-item">
            <a type="button" class="nav-link py-5 border-top rounded-0 border-bottom rounded-0 btn" data-bs-toggle="modal" data-bs-target="#homepage">
              <i class="display-1 fa-solid text-black text-center fa-house"></i>
            </a>
              <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" id="homepage">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">Warning</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <p>You want to leave the page, any unsaved progress will be lost</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return to Form</button>
                      <a href="/admin/homepage" class="btn btn-primary">
                      Leave Page
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </li>
            <li>
            <a type="button" class="nav-link py-5 border-top rounded-0 border-bottom rounded-0 btn" data-bs-toggle="modal" data-bs-target="#eventform">
              <i class="display-1 fa-solid text-black text-center fa-file-lines"></i>
            </a>

            <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" id="eventform">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">Warning</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                    <p>You want to leave the page, any unsaved progress will be lost</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return to Form</button>
                    <a href="/admin/eventform" class="btn btn-primary">
                      Leave Page
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
    
        <div>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li>
                  <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#login">
                    <i class="display-2 fa-solid text-black fa-arrow-right-from-bracket"></i>
                  </a>
                
                  <div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="login" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="login">Warning</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>You want to leave the page, any unsaved progress will be lost</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return to Form</button>
                          <a href="/admin/login">
                          <button type="button" class="btn btn-primary">Leave Page</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  </li>
                  <div class="border-top">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none">
                    </a>
                    <p class="display-3">Admin</p>
            </ul>
        </div>
      </div>
      </div>
      <div class="col-9 ">
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
    <script src="{{url_for('static', filename ='/js/bootstrap.bundle.min.js')}}" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"> </script>
    <script src="extensions/editable/bootstrap-table-editable.js"></script>
    
    <script src="{{url_for('static', filename ='/Wizard/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename ='/Wizard/vendor/jquery-validation/dist/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static', filename ='/Wizard/vendor/jquery-validation/dist/additional-methods.min.js')}}"></script>
    <script src="{{url_for('static', filename ='/Wizard/vendor/jquery-steps/jquery.steps.min.js')}}"></script>
    <script src="{{url_for('static', filename ='/Wizard/js/main.js')}}"></script>


<script src="https://kit.fontawesome.com/1de27f3594.js" crossorigin="anonymous"></script>


  </body>
</html>