{% extends 'AdminSidebar.html' %}
{% block title %}Admin Login Page {% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5 text-center justify-content-center">
        <h1 class="display-2 fw-bold">User Management</h1>
        <div class="row mt-5 text-center justify-content-center">
        </div>
    </div>

<div class="container display-6 ">
    <div class="row justify-content-center">
        <div class="col-6">
            <a href="/admin/user_list" class="nav-link py-3">
            <div class="card mt-5 p-5 text-center bg-body-secondary">
                Administrators Management
            </div>
            </a>
        </div>
        <div class="col-6 align-self-center">
            <a href="/admin/students" class="nav-link py-3">
            <div class="card mt-5 p-5 text-center bg-body-secondary">
                Students Management
            </div>
            </a>
        </div>
    </div>
    </div>
</div>

{% endblock %}
